* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 90vh;
  font-family: "Ubuntu", sans-serif;
  background-color: rgb(220, 212, 212);
  /* border: 2px solid red; */
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 131, 0.8)
    ),
    url(../images/patrick.jpg);
  background-size: cover;
  background-position: top;
}
.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

h2 {
  text-align: center;
  margin-top: 3rem;
}

#toggle {
  position: relative;
  display: block;
  width: 4rem;
  height: 2rem;
  border-radius: 4rem;
  background: rgb(94, 140, 194);
  transition: 0.5s;
  cursor: pointer;
  box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
    inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
}

#toggle .indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
  background: linear-gradient(
    to bottom,
    rgb(240, 234, 234),
    rgb(233, 228, 228)
  );
  border-radius: 50%;
  transform: scale(0.9);
  box-shadow: inset 0 8px 40px rgba(0, 0, 0, 0.5),
    inset 0 4px 4px rgba(255, 255, 255, 0.2),
    inset 0 -4px 4px rgba(255, 255, 255, 0.2);
  transition: 0.5s;
}

#toggle.active .indicator {
  left: 2rem;
}

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.basic,
.prof,
.master {
  height: 22rem;
  width: 17rem;
  text-align: center;
  border-radius: 0.6rem;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.basic,
.master {
  background-color: rgb(183, 212, 212);
}
.prof {
  background-color: rgb(138, 138, 202);
}

.cards {
  line-height: 3rem;
  font-size: 1.5rem;
  /* margin: 2px; */
  padding: 3rem;
}

.divider {
  width: auto;
  height: 3px;
  background-color: rgb(144, 185, 213);
  display: inline-block;
  border-radius: 50%;
}

.price b {
  font-size: 2rem;
  font-weight: 800;
}
.details {
  font-size: 1rem;
}

.card-btn {
  border-radius: 8px;
  height: 2rem;
  width: 80%;
  align-self: center;
  margin-top: -20px;
  cursor: pointer;
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-width: 1px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  color: #36395a;
}

@media only screen and (min-width: 1008px) {
  .prof {
    height: 26rem;
    justify-content: center;
    margin-right: -15.5px;
    margin-left: -15.5px;
  }
}
